{% extends 'base.html'%}
{% load static %}
{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Задание на разработку : {{development_task.tasks_ppo}}</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{% url 'base_page' %}">Главная</a></li>
                            <li class="breadcrumb-item active"><a href="{% url 'development_task' %}">Задания на разработку</a></li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
    <!-- Main content -->
    <section class="content">
      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">{{development_task.project}}</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-12 order-2 order-md-1">
              <div class="row">
                <div class="col-12 col-sm-2">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Планируемая. Разработка документации.</span>
                      <span class="info-box-number text-center text-muted mb-0">
                          {% if development_task.date_documentation_development_planned%}
                            {{development_task.date_documentation_development_planned}}
                          {%else%}
                            Не запланировано
                          {%endif%}
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-3">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Планируемая. Разработка ППО.</span>
                      <span class="info-box-number text-center text-muted mb-0">
                          {% if development_task.date_software_development_planned%}
                            {{development_task.date_software_development_planned}}
                          {%else%}
                            Не запланировано
                          {%endif%}
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-2">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Планируемая. Сборка оборудования.</span>
                      <span class="info-box-number text-center text-muted mb-0">
                          {% if development_task.date_equipment_assembly_planned%}
                            {{development_task.date_equipment_assembly_planned}}
                          {%else%}
                            Не запланировано
                          {%endif%}
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-3">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Планируемая. Заводская приемка.</span>
                      <span class="info-box-number text-center text-muted mb-0">
                        {% if development_task.date_factory_acceptance_planned%}
                            {{development_task.date_factory_acceptance_planned}}
                          {%else%}
                            Не запланировано
                          {%endif%}
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-2">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Планируемая. Отгрузка оборудования.</span>
                      <span class="info-box-number text-center text-muted mb-0">
                          {% if development_task.date_shipment_equipment_planned%}
                            {{development_task.date_shipment_equipment_planned}}
                          {%else%}
                            Не запланировано
                          {%endif%}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-2">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Фактическая. Разработка документации.</span>
                      <span class="info-box-number text-center text-muted mb-0">
                          {% if development_task.date_documentation_development_actual%}
                            {{development_task.date_documentation_development_actual}}
                          {%else%}
                            Не отгружено
                          {%endif%}
                          </span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-3">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Фактическая. Разработка ППО.</span>
                      <span class="info-box-number text-center text-muted mb-0">
                          {% if development_task.date_software_development_actual%}
                            {{development_task.date_software_development_actual}}
                          {%else%}
                            Не разработано
                          {%endif%}
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-2">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Фактическая. Сборка оборудования.</span>
                      <span class="info-box-number text-center text-muted mb-0">
                          {% if development_task.date_equipment_assembly_actual%}
                            {{development_task.date_equipment_assembly_actual}}
                          {%else%}
                            Не собрано
                          {%endif%}
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-3">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Фактическая. Заводская приемка.</span>
                      <span class="info-box-number text-center text-muted mb-0">
                          {% if development_task.date_factory_acceptance_actual%}
                            {{development_task.date_factory_acceptance_actual}}
                          {%else%}
                            Не было заводской приемки
                          {%endif%}
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-2">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Фактическая. Отгрузка оборудования.</span>
                      <span class="info-box-number text-center text-muted mb-0">
                          {% if development_task.date_shipment_equipment_actual%}
                            {{development_task.date_shipment_equipment_actual}}
                          {%else%}
                            Не отгружено
                          {%endif%}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                      <div class="card-body">
                        <dl>
                          <dt>Эксплуатирующая организация:</dt>
                          <dd>{{development_task.organizations_objects.organization}}</dd>
                        </dl>
                          <dl>
                          <dt>Объект:</dt>
                          <dd>{{development_task.organizations_objects.name}}</dd>
                        </dl>
                        <dl>
                          <dt>ГИП:</dt>
                          <dd>{{development_task.gip}}</dd>
                        </dl>
                        <dl>
                          <dt>Проектировщик:</dt>
                          <dd>{{development_task.designer}}</dd>
                        </dl>
                        <dl>
                          <dt>Состав оборудования:</dt>
                          <dd>{{development_task.part_equipment|linebreaks}}</dd>
                        </dl>
                        <dl>
                          <dt>Описание задания:</dt>
                          <dd>{{development_task.task|linebreaks}}</dd>
                        </dl>
                        <dl>
                          <dt>Описание задания:</dt>
                          <dd>{{development_task.task|linebreaks}}</dd>
                        </dl>
                        <dl>
                          <dt>Разрабатываемая документация:</dt>
                          <dd>{{development_task.documentation_development|linebreaks}}</dd>
                        </dl>
                        <dl>
                          <dt>Исходные данные:</dt>
                          <dd>{{development_task.source_data_folder|linebreaks}}</dd>
                        </dl>
                        <dl>
                          <dt>Папка с проектом:</dt>
                          <dd>{{development_task.project_archives_folder|linebreaks}}</dd>
                        </dl>
                          <dl>
                          <dt>Отметка выполнения:</dt>
                          <dd>{{development_task.get_status_display}}</dd>
                        </dl>
                          <dl>
                          <dt>Статус проекта:</dt>
                          <dd>{{development_task.get_current_state_display}}</dd>
                        </dl>
                          <dl>
                          <dt>Задание на управлении:</dt>
                          <dd>{{development_task.subdivision}}</dd>
                        </dl>
                          <dl>
                          <dt>Задание на отделе:</dt>
                          <dd>{{development_task.department}}</dd>
                        </dl>
                          <dl>
                          <dt>Дата регистрации задания:</dt>
                          <dd>{{development_task.date_issue}}</dd>
                        </dl>
                      </div>
                </div>
              </div>
            </div>
          </div>
        </div>
          <div class="row no-print">
              <div class="col-12">
                  <a class="btn btn-success btn-sm float-right" href="{% url 'development_task_edit' development_task.slug %}">Изменить задание</a>
                  <a class="btn btn-success btn-sm float-right" href="{% url 'development_task_edit_date' development_task.slug %}">Добавить даты выполнения</a>
                  <a class="btn btn-success btn-sm float-right" href="{% url 'development_task_edit_status' development_task.slug %}">Изменить статус задания</a>
                  <a class="btn btn-success btn-sm float-right" href="{% url 'development_task_edit_develop' development_task.slug %}">Добавить ссылки на проек</a>
                  <a class="btn btn-danger btn-sm float-left" href="{% url 'development_task_delete' development_task.slug %}">Удалить задание</a>
              </div>
          </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% endblock %}