{% extends 'base.html'%}
{% load static %}
{% block style %}
<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Select2 -->
<link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css'%}">
<link rel="stylesheet" href="{% static 'plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css'%}">

<link rel="stylesheet" href="{% static 'plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css'%}">
<!-- Theme style -->
<link rel="stylesheet" href="{% static 'css/adminlte.css'%}">
{% endblock %}
{% block content %}
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>{{title}}</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Главная</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'development_task'%}">Задание на разработку</a></li>

                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                 {% if messages %}
                     {% for message in messages %}
                         <div class="text-center alert alert-{{ message.tags }}">
                             {{ message|safe }}
                         </div>
                     {% endfor %}
                 {% endif %}
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="form-error">{{ forms.non_field_errors }}</div>
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="card-body">
                                <!--start //-->
                                <div class="form-group">
                                    <label>{{ form.project.label }}:</label>
                                    {{ form.project }}
                                </div>
                                {% if form.project.errors%}
                                <div class="col-md-12">
                                    <div class="card card-danger">
                                        <div class="card-header">
                                            <h3 class="card-title">Ошибка</h3>
                                        </div>
                                        <div class="card-body">
                                            {{ form.project.errors }}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                <!--end//-->
                                <!--start //-->
                                <div class="form-group">
                                    <label>{{ form.tasks_ppo.label }}:</label>
                                    {{ form.tasks_ppo }}
                                </div>
                                {% if form.tasks_ppo.errors%}
                                <div class="col-md-12">
                                    <div class="card card-danger">
                                        <div class="card-header">
                                            <h3 class="card-title">Ошибка</h3>
                                        </div>
                                        <div class="card-body">
                                            {{ form.tasks_ppo.errors }}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                <!--end//-->
                                <!--start //-->
                                <div class="form-group">
                                    <label>{{ form.name.label }}:</label>
                                    {{ form.name }}
                                </div>
                                {% if form.name.errors%}
                                <div class="col-md-12">
                                    <div class="card card-danger">
                                        <div class="card-header">
                                            <h3 class="card-title">Ошибка</h3>
                                        </div>
                                        <div class="card-body">
                                            {{ form.name.errors }}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                <!--end//-->
                                <!--start //-->
                                <div class="form-group">
                                    <label>{{ form.gip.label }}:</label>
                                    {{ form.gip }}
                                </div>
                                {% if form.gip.errors%}
                                <div class="col-md-12">
                                    <div class="card card-danger">
                                        <div class="card-header">
                                            <h3 class="card-title">Ошибка</h3>
                                        </div>
                                        <div class="card-body">
                                            {{ form.gip.errors }}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                <!--end//-->
                                <!--start //-->
                                <div class="form-group">
                                    <label>{{ form.designer.label }}:</label>
                                    {{ form.designer }}
                                </div>
                                {% if form.designer.errors%}
                                <div class="col-md-12">
                                    <div class="card card-danger">
                                        <div class="card-header">
                                            <h3 class="card-title">Ошибка</h3>
                                        </div>
                                        <div class="card-body">
                                            {{ form.designer.errors }}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                <!--end//-->
                                <!--start //-->
                                <div class="form-group">
                                    <label>{{ form.part_equipment.label }}:</label>
                                    {{ form.part_equipment }}
                                </div>
                                {% if form.part_equipment.errors%}
                                <div class="col-md-12">
                                    <div class="card card-danger">
                                        <div class="card-header">
                                            <h3 class="card-title">Ошибка</h3>
                                        </div>
                                        <div class="card-body">
                                            {{ form.part_equipment.errors }}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                <!--end//-->
                                <!--start //-->
                                <div class="form-group">
                                    <label>{{ form.task.label }}:</label>
                                    {{ form.task }}
                                </div>
                                {% if form.task.errors%}
                                <div class="col-md-12">
                                    <div class="card card-danger">
                                        <div class="card-header">
                                            <h3 class="card-title">Ошибка</h3>
                                        </div>
                                        <div class="card-body">
                                            {{ form.task.errors }}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                <!--end//-->
                                <!--start //-->
                                <div class="form-group">
                                    <label>{{ form.documentation_development.label }}:</label>
                                    {{ form.documentation_development }}
                                </div>
                                {% if form.documentation_development.errors%}
                                <div class="col-md-12">
                                    <div class="card card-danger">
                                        <div class="card-header">
                                            <h3 class="card-title">Ошибка</h3>
                                        </div>
                                        <div class="card-body">
                                            {{ form.documentation_development.errors }}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                <!--end//-->
                                <!--start //-->
                                <div class="form-group">
                                    <label>{{ form.date_documentation_development_planned.label }}:</label>
                                    {{ form.date_documentation_development_planned }}
                                </div>
                                {% if form.date_documentation_development_planned.errors%}
                                <div class="col-md-12">
                                    <div class="card card-danger">
                                        <div class="card-header">
                                            <h3 class="card-title">Ошибка</h3>
                                        </div>
                                        <div class="card-body">
                                            {{ form.date_documentation_development_planned.errors }}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                <!--end//-->
                                <!--start //-->
                                <div class="form-group">
                                    <label>{{ form.date_software_development_planned.label }}:</label>
                                    {{ form.date_software_development_planned }}
                                </div>
                                {% if form.date_software_development_planned.errors%}
                                <div class="col-md-12">
                                    <div class="card card-danger">
                                        <div class="card-header">
                                            <h3 class="card-title">Ошибка</h3>
                                        </div>
                                        <div class="card-body">
                                            {{ form.date_software_development_planned.errors }}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                <!--end//-->
                                <!--start //-->
                                <div class="form-group">
                                    <label>{{ form.date_equipment_assembly_planned.label }}:</label>
                                    {{ form.date_equipment_assembly_planned }}
                                </div>
                                {% if form.date_equipment_assembly_planned.errors%}
                                <div class="col-md-12">
                                    <div class="card card-danger">
                                        <div class="card-header">
                                            <h3 class="card-title">Ошибка</h3>
                                        </div>
                                        <div class="card-body">
                                            {{ form.date_equipment_assembly_planned.errors }}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                <!--end//-->
                                <!--start //-->
                                <div class="form-group">
                                    <label>{{ form.date_factory_acceptance_planned.label }}:</label>
                                    {{ form.date_factory_acceptance_planned }}
                                </div>
                                {% if form.date_factory_acceptance_planned.errors%}
                                <div class="col-md-12">
                                    <div class="card card-danger">
                                        <div class="card-header">
                                            <h3 class="card-title">Ошибка</h3>
                                        </div>
                                        <div class="card-body">
                                            {{ form.date_factory_acceptance_planned.errors }}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                <!--end//-->
                                <!--start //-->
                                <div class="form-group">
                                    <label>{{ form.date_shipment_equipment_planned.label }}:</label>
                                    {{ form.date_shipment_equipment_planned }}
                                </div>
                                {% if form.date_shipment_equipment_planned.errors%}
                                <div class="col-md-12">
                                    <div class="card card-danger">
                                        <div class="card-header">
                                            <h3 class="card-title">Ошибка</h3>
                                        </div>
                                        <div class="card-body">
                                            {{ form.date_shipment_equipment_planned.errors }}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                <!--end//-->
                                <!--start //-->
                                <div class="form-group">
                                    <label>{{ form.source_data_folder.label }}:</label>
                                    {{ form.source_data_folder }}
                                </div>
                                {% if form.source_data_folder.errors%}
                                <div class="col-md-12">
                                    <div class="card card-danger">
                                        <div class="card-header">
                                            <h3 class="card-title">Ошибка</h3>
                                        </div>
                                        <div class="card-body">
                                            {{ form.source_data_folder.errors }}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                <!--end//-->
                                <!--start //-->
                                <div class="form-group">
                                    <label>{{ form.subdivision.label }}:</label>
                                    {{ form.subdivision }}
                                </div>
                                {% if form.subdivision.errors%}
                                <div class="col-md-12">
                                    <div class="card card-danger">
                                        <div class="card-header">
                                            <h3 class="card-title">Ошибка</h3>
                                        </div>
                                        <div class="card-body">
                                            {{ form.subdivision.errors }}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                <!--end//-->
                                <!--start //-->
                                <div class="form-group">
                                    <label>{{ form.department.label }}:</label>
                                    {{ form.department }}
                                </div>
                                {% if form.department.errors%}
                                <div class="col-md-12">
                                    <div class="card card-danger">
                                        <div class="card-header">
                                            <h3 class="card-title">Ошибка</h3>
                                        </div>
                                        <div class="card-body">
                                            {{ form.department.errors }}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                <!--end//-->
                            </div>
                            <div class="row no-print">
                                <div class="col-12">
                                    <button type="submit" class="btn btn-success btn-sm float-right">Изменить</button>
                                    <a class="btn btn-danger btn-sm float-left" href="{% url 'development_task_delete' slug %}">Удалить задание</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>


{% endblock %}
{% block script %}

<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js'%}"></script>
<!-- Select2 -->
<script src="{% static 'plugins/select2/js/select2.full.min.js'%}"></script>
<!-- InputMask -->
<script src="{% static 'plugins/moment/moment.min.js'%}"></script>
<script src="{% static 'plugins/moment/moment-with-locales.min.js'%}"></script>

<script src="{% static 'plugins/jQuery-Mask/jquery.mask.js'%}"></script>

<!-- Tempusdominus Bootstrap 4 -->
<script src="{% static 'plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js'%}"></script>

<script>
  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2();
    //Date picker
    $('#dateEmployment').datetimepicker({
	    locale: 'ru',
		stepping:10,
		format: 'L',
    });
  })

</script>
{% endblock %}