{% extends 'base.html'%}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css'%}">
<link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css'%}">
<link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css'%}">
{% endblock %}
{% block content %}
<!-- Основное поле -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <div class="card">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Фирмы</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{% url 'base_page' %}">Главная</a></li>
                            <li class="breadcrumb-item active">Фирмы</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="subdivision-table" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>Фирмы</th>
                                        <th>Направление фирмы</th>
                                        <th>Сайт</th>
                                        <th>Описание</th>
                                    </tr>
                                    </thead>
                                    <tbody>{{form}}
                                    {% for organization in organizations%}
                                    <tr>
                                        <td><a href='{{organization.get_absolute_url}}'>{{organization.name}}</a></td>
                                        <td>{{organization.get_status_display}}</td>
                                        <td><a href="{{organization.site}}">{{organization.site}}</a></td>
                                        <td>{{organization.description}}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
                {% if perms.workers.add_subdivision %}
                <div class="row no-print">
                    <div class="col-12">
                        <a class="btn btn-success float-right" href="{% url 'organization_add' %}">Добавить
                            организацию</a>
                    </div>
                </div>
                {% endif %}
            </div>
            <!-- /.modal -->
        </section>
        <!-- /.content -->
        <!-- Основное поле -->
        {% endblock %}
        {% block script %}
        <!-- DataTables  & Plugins -->
        <script src="{% static 'plugins/datatables/jquery.dataTables.min.js'%}"></script>
        <script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js'%}"></script>
        <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
        <script>
        $(document).on("click", ".remove-subdivision", function () {
             var slug = $(this).data('slug');
             var text = $(this).data('text');
             document.getElementById("button-remove").href="?remove="+slug;
             document.getElementById("remove-text").innerText = "Вы пытаетесь удалить : '"+text+"'?";
        });
          $(function () {
            $("#subdivision-table").DataTable({
              "paging": false,
              "lengthChange": false,
              "searching": true,
              "ordering": true,
              "info": false,
              "autoWidth": false,
              "responsive": true
            }).buttons().container().appendTo('#subdivision-table_wrapper .col-md-6:eq(0)');
          });


        </script>
        {% endblock %}