
                                        <div class="col-1">
                                            <div class="form-group">
                                                <label class="float-right">{{ form_filter.test_date.label }}:</label>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="form-group">
                                                {{form_filter.test_date}}
                                            </div>
                                        </div>
                                        <div class="col-1">
                                            <div class="form-group">
                                                <label class="float-right">{{ form_filter.date_in.label }}:</label>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="form-group">
                                                {{form_filter.date_in}}
                                            </div>
                                        </div>


                                        <div class="col-1">
                                            <div class="form-group">
                                                <label class="float-right">{{ form_filter.date_out.label }}:</label>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="form-group">
                                                {{form_filter.date_out}}
                                            </div>
                                        </div>


