{% extends 'base.html'%}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css'%}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css'%}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css'%}">
{% endblock %}
{% block content %}
<div class="content-wrapper">
    <div class="card">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Сертификаты</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{% url 'base_page'%}">Главная</a></li>
                            <li class="breadcrumb-item"></li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="workers-table" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th rowspan="2" width="50"></th>
                                            <th rowspan="2">Ф.И.О.</th>
                                            {% for key, value in certificate_table.items %}
                                                {% if value|length > 1%}
                                                    <th colspan="{{value|length}}">{{key}}</th>
                                                {% else%}
                                                    <th rowspan="2">{{key}}</th>
                                                {%endif%}
                                            {% endfor %}
                                        </tr>
                                        <tr>
                                            {% for key, value in certificate_table.items %}
                                                {% if value|length > 1%}
                                                    {% for v in value %}
                                                        <th>{{v}}</th>
                                                    {% endfor %}
                                                {%endif%}
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for list_cetificate in list_cetificates %}
                                       <tr>
                                           <td>
                                                <a href="{{list_cetificate.workers.get_absolute_url}}">
                                                {%if list_cetificate.workers.image_smol %}
                                                <img src="{{list_cetificate.workers.image_smol.url}}" alt="user-avatar"
                                                     class="img-circle img-bordered-sm" width="50" height="50">
                                                {%endif%}
                                                </a>
                                            </td>
                                            <td><a href="{{list_cetificate.workers.get_absolute_url}}">{{list_cetificate.workers}}</a></td>

                                        {% for key_certificate_tables, values_certificate_tables in certificate_table.items %}
                                            {%for values_certificate_table in values_certificate_tables%}
                                                {% for key,value in list_cetificate.items%}
                                                    {% if values_certificate_table.name == key.name%}
                                                        {% if value%}
                                                            <td>{{value.date_delivery|date:"d.m.Y" }}
                                                                {% if value.file1 or value.file2 or value.file3%}
                                                                    <br>
                                                                {% endif %}
                                                                {% if value.file1 %}<a href="{{value.file1}}">Скан №1</a>{% endif%}
                                                                {% if value.file2 %}<a href="{{value.file2}}">Скан №2</a>{% endif%}
                                                                {% if value.file3 %}<a href="{{value.file3}}">Скан №3</a>{% endif%}
                                                            </td>
                                                        {%else%}
                                                            <td bgcolor="#990000"></td>
                                                        {% endif %}
                                                    {% endif%}
                                                {% endfor%}
                                            {% endfor %}
                                        {% endfor %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
                <div class="timeline-footer">
                    {% if perms.workers_certificates.certificates_view %}
                    <a class="btn btn-primary btn-sm" href="{% url 'certificates' %}">Описание сертификатов</a>{% endif %}
                    {% if perms.workers_certificates.certificate_parts_view %}
                    <a class="btn btn-primary btn-sm" href="{% url 'certificates_parts' %}">Описание частей сертификатов</a>{% endif %}
                    {% if perms.workers_certificates.certificate_users_add_superiors%}
                    <a class="btn btn-success btn-sm float-right" href="{% url 'workers_certificate_add_all' %}">Добавить сертификат</a>{% endif %}
                </div>
            </div>
        </section>
    </div>
</div>
    <!-- /.content -->
    <!-- Основное поле -->
    {% endblock %}
    {% block script %}
    <!-- DataTables  & Plugins -->
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js'%}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js'%}"></script>
    <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <script>
      $(function () {
        $("#workers-table").DataTable({
          language: {url: '{% static 'plugins/datatables/ru.json'%}'},
          "paging": false,
          "lengthChange": false,
          "searching": true,
          "ordering": true,
          "info": false,
          "autoWidth": true,
          "responsive": true
        }).buttons().container().appendTo('#workers-table_wrapper .col-md-12:eq(0)');
      });
    </script>
    {% endblock %}