{% extends 'base.html'%}
{% block content %}
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>{{title}} : {{workers}}</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'base_page'%}">Главная</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'workers'%}">Сотрудники</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'workers_views' workers.slug%}">{{ workers }}</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
      <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        {% if messages %}
                            {% for message in messages %}
                                {% if message.tags %}
                                <div class="alert alert-success alert-dismissible">
                                    {{ message }}
                                </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <div class="form-error">{{ form.non_field_errors }}</div>
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="card-body">
                            {% for fr in form%}
                                    <div class="form-group">
                                        <label>{{ fr.label }}:</label>
                                        {{ fr }}
                                    </div>
                                    {% if fr.errors%}
                                    <div class="col-md-12">
                                        <div class="card card-danger">
                                          <div class="card-header">
                                            <h3 class="card-title">Ошибка</h3>
                                          </div>
                                          <div class="card-body">
                                            {{ fr.errors }}
                                          </div>
                                        </div>
                                    </div>
                                    {% endif %}
                            {% endfor %}
                            </div>
                            <button type="submit" class="btn btn-success float-right">Сохранить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}